@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 25px;
}

#google_translate_element{
    height: 1em;
    margin: 2em;
    margin-bottom: 2em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 15%);
}
.navbar{
    display: flex;
    background-color: #3c4b8d;
    height: 7em;
    justify-content: center;
    align-items: center;
    padding: 3em 5em;
}
#logo{
    height: 4em;
    width: auto;
    justify-content: flex-start;
    display: inline-block;
    align-self: flex-start;
    justify-content: space-between;
    margin-left: 1em;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 15%);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.nav-links{
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    }
    .list-items{
        justify-content: space-between;
        display: inline-block;
        justify-content: flex-end;
        padding: 1em;
        font-size: smaller;
    }
    
    .list-links{
        font-size: larger;
        color: #000000;
        background-color: rgba(255, 255, 255, 40%);
        text-shadow: 15px 10px 7px rgba(0, 0, 0, 40%);
        font-style: italic;
        border-radius: 1em;
        text-decoration: none;
        font-family:'Nunito', sans-serif;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;
}
    
.images{
    height: 15em;
}
    

    .list-items:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    ul.slider{
        position: absolute;
        height: 100%;
        width: 100%;
        margin-top: 1em;
        text-align: center;
    }
    ul.slider li{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        height: inherit;
        width: inherit;
        transition: opacity .5s;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
    }
    ul.slider li img{
        width: 25em;
        height: 15em;
        object-fit: cover;
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
        box-shadow: 1em 1em 1em rgba(0, 0, 0, 15%);
    }
    ul.slider li:first-child{
    opacity: 1;
    }
    
    ul.menu{
        position: absolute;
        height: 100%;
        width: 100%;
        margin-top: 13em;
        text-align: center;
    }
    .menu li{
        display: inline-block;
        text-align: center;
        justify-content: center;
    }
    .menu li a{
        color: white;
        text-decoration: none;
        background-color: grey;
        padding: 1em;
        height: 1em;
        width: 1em;
        font-size: 20px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    ul.slider li:target{
        opacity: 1;
    }
    
    .container{
        line-height: 2em;
        font-size: larger;
        padding: 5em;
        padding: 1em;
    }
    
body{
    background-image: url("../img/background2.jpg");
    background-size: cover;
}
h1{
    background-color: rgba(255, 255, 255, 40%);
    text-align: center;
    font-size:2em;
    font-family: 'Poor Story', cursive;
    text-shadow: 15px 10px 7px rgba(0, 0, 0, 40%);
}
h2{
    background-color: rgba(255, 255, 255, 40%);
    text-align: center;
    font-size:1em;
    text-shadow: 15px 10px 7px rgba(0, 0, 0, 40%);
}
p{
    background-color: rgba(255, 255, 255, 40%);
    margin-top: 3em;
    margin-bottom: 3em;
}
#nasa{
    color: #ffffff;
    text-shadow: 15px 10px 7px rgba(0, 0, 0, 40%)
}
#jupiter{
    height: 15em;
    width: 25em;
    margin: 1em;
    margin-left: 18em;
    justify-content: center;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 15%);
}
#jupiter:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/*HTML 2*/
#cerezos{
    height: 15em;
    width: 25em;
    margin: 3em;
    margin-left: 10em;
    justify-content: center;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 15%);
}
#cerezos:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}



